@model List<Flowerpower.Models.winkelmand>


@{
    ViewBag.Title = "Winkelwagen";
}

<h2>Winkelwagen</h2>

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <tr>
                <th>Item</th>

                <th>Omschrijving</th>

                <th>Prijs</th>

                <th>Aantal</th>

                <th>Subtotaal</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.producten.productnaam</td>
                    <td>@item.producten.productomschrijving</td>
                    <td>@item.producten.prijs</td>
                    <td> @item.aantal</td>
                    <td>@(item.aantal * item.producten.prijs)</td>
                </tr>
            }

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><h5 style="font-weight: bold">TOTAAL</h5></td>
                <td><h5 style="font-weight: bold">€2000</h5></td>
            </tr>
        </table>
    </div>
</div>
<div class="row" style="margin-top: 20px;">

    <div class="col-sm-6">



    </div>
    <div class="col-sm-6">

        <a href="@Url.Action("PlaatsDatumKiezen", "Winkelwagen", new { bestelid = Model.FirstOrDefault().bestellingid }, null)"><button type="button" class="btn btn-success" style="float: right;">Afronden</button></a>


    </div>
</div>


