@model List<Flowerpower.Models.winkelmand>


@{
    ViewBag.Title = "Winkelwagen";
}

<h2>Winkelwagen</h2>

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <tr>
                <th>Item</th>

                <th>Omschrijving</th>

                <th>Prijs</th>

                <th>Aantal</th>

                <th>Subtotaal</th>
            </tr>
            @foreach (var item in Model)
            {

                using (Html.BeginForm("Delete", "winkelmand", new { id = item.productid }))
                {
                    <tr>
                        <td>@item.producten.productnaam</td>
                        <td>@item.producten.productomschrijving</td>
                        <td>@item.producten.prijs</td>
                        <td> @item.aantal</td>
                        <td>@(item.aantal * item.producten.prijs)</td>

                        <td>
                            @*
                                    @Html.ActionLink("Edit", "Edit", new { id = item.producten.productnaam }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.productid }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.productid }) |
                            *@

                            <input type="submit" value="Edit" class="btn btn-info" /> 
                            <input type="submit" value="Details" class="btn btn-warning" /> 

                            <input type="submit" value="Delete" class="btn btn-danger"
                                   onclick="return confirm('Are you sure you want to delete this item? = @item.producten.productnaam');" /> 




                        </td>
                    </tr>
                }
            }

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><h5 style="font-weight: bold">TOTAAL</h5></td>
                <td><h5 style="font-weight: bold">€2000</h5></td>
            </tr>
        </table>
    </div>
</div>
<div class="row" style="margin-top: 20px;">

    <div class="col-sm-6">



    </div>
    <div class="col-sm-6">

        <a href="@Url.Action("PlaatsDatumKiezen", "Winkelwagen" )"><button type="button" class="btn btn-success" style="float: right;">Afronden</button></a>


    </div>
</div>


