<<<<<<< HEAD
<<<<<<< HEAD
﻿@using FlowerPower.Controllers;
@model Flowerpower.Models.Winkelwagen
=======
﻿@model List<Flowerpower.Models.winkelmand>
>>>>>>> parent of 0a538ef... mooiste update van je welkomst
=======
﻿@model List<Flowerpower.Models.winkelmand>
>>>>>>> parent of 0a538ef... mooiste update van je welkomst


@{
    ViewBag.Title = "Winkelwagen";

    
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h2>Winkelwagen</h2>
    
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <tr>
                <th>Item</th>
<<<<<<< HEAD

                <th>Omschrijving</th>

                <th>Prijs</th>

<<<<<<< HEAD
<script type="text/javascript">

    function deleteitem(productid) {

    }


</script>


<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <tr>
                <th>Item</th>

                <th>Omschrijving</th>

                <th>Prijs</th>

                <th>Aantal</th>

                <th>Subtotaal</th>
            </tr>

            @using (Html.BeginForm("Index", "Winkelwagen", FormMethod.Post))
            {

                for (int i = 0; i < Model.winkelwagen.Count; i++)
                {
                    <tr>

                        <td></td>
                        <td>@Model.winkelwagen[i].producten.productomschrijving</td>
                        <td>@Model.winkelwagen[i].producten.prijs</td>
                        <td>@Html.EditorFor(model => model.winkelwagen[i].aantal)</td>
                        <td>@(Model.winkelwagen[i].aantal * Model.winkelwagen[i].producten.prijs)</td>
                        <td>
                            <button type="submit" class="btn btn-success">Opslaan</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick=""><i style="color: #fff" class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                }
=======
                <th>Aantal</th>

                <th>Subtotaal</th>
            </tr>
            @using (Html.BeginForm("Index", "Winkelwagen", FormMethod.Post))
            {

                decimal? totaalbedrag = 0;
                for (int i = 0; i < Model.Count; i++)
                {


            <tr>

                <td> @Model[i].producten.productnaam </td>
                <td> @Model[i].producten.productomschrijving </td>
                <td> @Model[i].producten.prijs </td>
                <td> @Html.EditorFor(model => model[i].aantal) </td>
                <td>@(Model[i].aantal * Model[i].producten.prijs) </td>

                @{var calc = Model[i].aantal * Model[i].producten.prijs}
                @{}
                

                <td>
                    <button type="submit" class="btn btn-success">Opslaan</button>
                </td>
=======

                <th>Omschrijving</th>

                <th>Prijs</th>

                <th>Aantal</th>

                <th>Subtotaal</th>
            </tr>
            @using (Html.BeginForm("Index", "Winkelwagen", FormMethod.Post))
            {

                decimal? totaalbedrag = 0;
                for (int i = 0; i < Model.Count; i++)
                {


            <tr>

                <td> @Model[i].producten.productnaam </td>
                <td> @Model[i].producten.productomschrijving </td>
                <td> @Model[i].producten.prijs </td>
                <td> @Html.EditorFor(model => model[i].aantal) </td>
                <td>@(Model[i].aantal * Model[i].producten.prijs) </td>

                @{var calc = Model[i].aantal * Model[i].producten.prijs}
                @{}
                

                <td>
                    <button type="submit" class="btn btn-success">Opslaan</button>
                </td>



            </tr>

                        }ViewBag.Totaal = total;



>>>>>>> parent of 0a538ef... mooiste update van je welkomst


<<<<<<< HEAD

            </tr>

                        }ViewBag.Totaal = total;
>>>>>>> parent of 0a538ef... mooiste update van je welkomst


                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><h5 style="font-weight: bold">TOTAAL </h5></td>


                    <td>
                        <h5 style="font-weight: bold">@Model.totaal</h5>
                    </td>
                </tr>

<<<<<<< HEAD

            }

        </table>
    </div>
</div>
=======
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><h5 style="font-weight: bold">TOTAAL </h5></td>

=======
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><h5 style="font-weight: bold">TOTAAL </h5></td>

>>>>>>> parent of 0a538ef... mooiste update van je welkomst

                <td>
                    <h5 style="font-weight: bold">
                        @ViewBag.Totaal


                </h5>
            </td>




        </tr>
        </table>
    </div>
</div>
<div class="row" style="margin-top: 20px;">

    <div class="col-sm-6">
<<<<<<< HEAD
>>>>>>> parent of 0a538ef... mooiste update van je welkomst
=======
>>>>>>> parent of 0a538ef... mooiste update van je welkomst


<div class="row" style="margin-top: 20px;">

<<<<<<< HEAD
<<<<<<< HEAD
    <div class="col-sm-6">



    </div>
    <div class="col-sm-6">
=======
    </div>
    <div class="col-sm-6">

        <a href="@Url.Action("PlaatsDatumKiezen", "Winkelwagen", new { bestelid = Model.FirstOrDefault().bestellingid }, null)"><button type="button" class="btn btn-success" style="float: right;">Afronden</button></a>


    </div>
</div>
>>>>>>> parent of 0a538ef... mooiste update van je welkomst

        <a href="@Url.Action("PlaatsDatumKiezen", "Winkelwagen", new { bestelid = Model.winkelwagen.FirstOrDefault().bestellingid }, null)"><button type="button" class="btn btn-success" style="float: right;">Afronden</button></a>
=======
    </div>
    <div class="col-sm-6">

        <a href="@Url.Action("PlaatsDatumKiezen", "Winkelwagen", new { bestelid = Model.FirstOrDefault().bestellingid }, null)"><button type="button" class="btn btn-success" style="float: right;">Afronden</button></a>


    </div>
</div>
>>>>>>> parent of 0a538ef... mooiste update van je welkomst


    </div>
</div>