

<div class="navbar navbar-light">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Boeket", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li><p class="site-title">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/Content/Images/logo.png" alt="" />
                    </a>
                </p></li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>






