@model List<Flowerpower.Models.winkel>
@{
    ViewBag.Title = "Contact";
}

<div class="row" id="columns">
    @foreach (var item in Model)
    {
        <div class="columtest">
            <div>
                <div class="col-sm-4 col-centered">
                    <div class="colom-1">
                        <div class="img-boeket1">
                            <span class="et_pb_image_wrap">

                            </span>
                        </div>

                        <div class="type-titel">
                            <div class="et_pb_text_inner">
                                <h4>@item.winkelnaam</h4>
                            </div>
                        </div>

                        <div class="omschrijving-boeket">
                            <div class="type-boeket-omschrijving">
                                <p style="text-align: center;">
                                    @item.winkelstraatnaam
                                </p>
                            </div>
                        </div>

                        <div>
                            <div class="boeket-prijs">
                                <p style="text-align: center;">
                                    @item.winkelpostcode
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="boeket-prijs">
                                <p style="text-align: center;">
                                    @item.winkelstad
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="boeket-prijs">
                                <p style="text-align: center;">
                                    @item.winkeltelefoonnummer
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="boeket-prijs">
                                <p style="text-align: center;">
                                    @item.winkelmail
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    }

</div>
